<main>
  <h1>App.compenent.html</h1>
  <div class="contener">
    <ol>
      <p>Dans enfant.compenent.ts</p>
      <li>
        Output fonctionne avec un evenement
        <br />
        Declareration Output() nomOutput = new EventEmitter<'type du retour>()
      </li>
      <li>
        Declarer une methode qui servira a initialiser mon output() nomOutput
        <br />
        je vien cherhcher this.nomOutput.emit(le emit est la valeur assigner
        dans ses parenthese)
      </li>
      <p>Dans enfant.compenent.html</p>
      <li>
        je cree un button avec un event au click ou j appelle ma methode pour
        envoyer le message
      </li>
      <p>Dans mon parent.compenent.ts</p>
      <li>
        Declarer la proprietée qui va recevoir le message qui provient de mon
        enfant.compenent.ts
      </li>
      <li>
        Evenement qui va initialiser messageRecuDeEnfant avec la copie du
        message cree dans enfant;compenent.ts
      </li>
      <p>Dans parent.compenent.html</p>
      <li>
        Dans la balise app-enfant utiliser le (NomDeOutput)=
        `MethodeInitiatiqueDeProprieteeParent($event)`
      </li>
    </ol>

    <app-parent></app-parent>
  </div>
</main>
